<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doumi</title>
    <link href="../../static/css/codingTest.css" th:href = "@{/css/codingTest.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">	<!-- 구문 강조 CSS호출 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>	<!-- 구문 강조 js 호출 -->
    <script>hljs.highlightAll();</script> <!-- 코드 구문 강조 호출 -->
</head>
<body>
<header></header>
<main class="cont-main">
    <section class="content-header">
        <button class="back-button">< 목록으로</button>
        <h1 class="title">시간 복잡도</h1>
        <div class="content-info">
            <a href="" class="board-writer-name">도우미</a>
            <p class="content-createdAt">24.02.18 19:16 작성</p>
        </div>
    </section>
    <section class="content-main">
        <h2 class="a11y">퀴즈 게시판 본문 내용</h2>
        <div class="content-detail">
            <img src="/images/codingtest/hello.gif" style="width=200px; height:200px;"><br><br>
            &nbsp;안녕하세요. 앞으로 코딩테스트에 대해 알려드릴 도우미라고 합니다!<br>
            오늘은 코딩테스트에서 기본이 되는 시간복잡도에 대해 알려 드릴게요.<br><br>

            &nbsp;시간복잡도를 계산하는 이유에 대해 먼저 알려드릴게요.<br>
            프로그램이 수행되는 시간을 알기위한 방법은 간단합니다.<br>
            실행해보고 실행시간을 측정하면 되죠! 제일 정확한 방법입니다.<br><br>

            &nbsp;그렇다면 프로그램을 수행해보지 않고도 쉽게 아는 방법은 없을까요? 그래서 나온 개념이 시간복잡도 입니다.<br><br>
            <img src="/images/codingtest/timelimit.png"><br>
            <div style="color: #00a3d2; font-size:12px; margin-top:-10px;">&nbsp;&nbsp;&nbsp;&nbsp;문제에는 시간과 공간의 제한이 존재한다.</div><br>
            앞으로 시작하려는 프로그래밍 테스트에는 제한 시간이라는게 존재해요. 시간 내에 수행되어야 하는건데요.<br>
            코딩테스트를 문제의 답을 힘들게 구현 했는데 수행을 해보니 출력결과는 맞았더라도 시간초과가 됬다고 할게요.<br>
            처음부터 시간초과가 나지 않도록 잘 설계, 계획해서 문제를 풀어야 겠죠? 시간복잡도 라는걸 잘 이해하신다면 가능해요.
            이 프로그램 수행시간에 대해 직접 실행해 보지 않고도 알 수 있는 개념이 시간 복잡도이고 주로 빅오라는걸 사용해서
            표현 하는데 이는 뒤에서 알려드릴게요!<br>
            <h3>"시간 복잡도로 프로그램을 직접 실행시키지 않고도 대략적인 수행시간을 알 수 있다"</h3>
            <br>
            &nbsp;먼저 연산 횟수를 세는것부터 해볼게요. 연산횟수란 연산자가 몇번 적용되었는지 세는거에요.<br>
<pre>
<code class="language-java"> void func(int n) {
  int a = 0;     // 대입연산 1회
  int b = 0;       // 대입연산 1회

  for(i=0; i < n; i++) {  // 대입연산1회, 비교연산 n+1회, 증가연산 n회
    a += i;             // 덧셈 연산 n회
  }
  for(i=0; i < n; i++) {  // 반복문 n+1회
    b += i;             // 덧셈 연산 n회
  }
}</code></pre>
&nbsp;위 함수에서 연산 횟수를 세보면 4n+5회 하였다고 볼수 있는데요.<br>
예제를 몇개 더 연습해 볼게요.<br><br>
<pre><code class="language-java"> combination(A[], n) {
    sum <- 0;
    for i <- 0 to n-1
        for j <- i + 1 to n-1
            print(i, j)
}</code></pre>
&nbsp;위에서 예제는 조합의 개수를 구할 때 자주 사용하는 식인데요.<br>
A = [1, 2, 3, 4]라면 (1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)가 출력 되는데요.
(대입 연산, 비교연산, 증감연산은 생략하고 간략히 for문 도는 횟수만 세도록 할게요.)
위 식에서 연산의 개수를 한번 세보면 i=0 일 때 j는 n-1번, i=1일 때 j는 n-2번, i=2일 때 j는 n-3번 ... i=n-1일 때 j는 0번
돌게 됩니다. 다 더해보면 0+1+2+...+(n-1) = (n-1)*(n-2)/2 = (n^2-3*n+2)/2 번 for문을 도네요!
<br><br>
<pre><code class="language-java"> MenOfPassion() {
    for i <- 1 to n
        for j <- 1 to n
            for k <- 1 to n
                print(i, j, k)
}
</code></pre>&nbsp;위 식은 n*3의 연산을 수행해야 해요.<br><br>
<pre>
<code class="language-java"> MenOfPassion(A[], n, target) {
    sum <- 0;
    for i <- 1 to n
       if A[i] == target:
            return i
    return -1
}
</code></pre>&nbsp;시간 복잡도의 경우에 최선의 경우, 평균적인 경우, 최악의 경우 3가지의 경우가 있는데요.<br>
위의 식과 같이 target에 해당하는 데이터가 마지막에 있을 경우 즉, 최악인 경우 n개의 데이터를 다 살펴봐야 하는데요.<br>
좀 더 정확히 연산 횟수를 세서 3n+4와 같은 연산 횟수를 얻었다고 해요<br>
이제 등장할 빅오라는 개념에서 3n+4 에서 3과 4는 중요하지 않아요.<br>
이유는 n이 상당히 클 경우 n+3, 23*n+21, n^2, 23*n^2+21은 결국<br>
n < nlogn < n^2 < n^3  과 같이 각 대표적인 클래스에 따라 값의 크기가 결정 되기 때문이에요.<br><br>
<img src="/images/codingtest/bigo.png" style="width=300px; height:300px;"><br>
<div style="color: #00a3d2; font-size:12px; margin-top:2px;">&nbsp;n값이 커지면 결국 계수나 상수와 상관 없이 대표적인 클래스에 해당하는 비교가 된다.</div>
<h3>"그럼 빅오라는 개념을 코딩테스에서 언제 사용하면 돼?"</h3>
&nbsp;그에 대한 답은 아래와 같은 절차를 보면 알 수 있다.우리가 구현할 코드의 코드의 빅오를 파악한다.<br>
n^2의 코드가 되었다면 해당 n을 대입하여 값을 매겨본다. 예를 들어 n=10,000 이라고 하자.<br>
10,000^2 = 100,000,000 이고 1억의 값이 나오게 된다. 1억번에 1초라고 생각하면 된다.<br>
시간 제한에 걸리는지 확인할 수 있게 되는 것이다.<br>
<br>
&nbsp;마지막으로 한가지를 덧붙이면 시간복잡도와 마찬가지로 공간복잡도 라는 개념이 있고 시간복잡도와 마찬가지로 메모리 영역을 차지하는 수 로
계산하면 된다. 메모리 공간 제한을 두고 있는 문제가 있긴 하지만 자주 사용되지는 않는다.
        </div>
    </section>
</main>
<script src="/Js/highlight.min.js"></script>
<script>hljs.hightlightAll();</script>
</body>
</html>