<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doumi</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/3.0.2/toastui-editor.min.css">
    <link href="../../static/css/coteboard/detail.css" th:href="@{/css/coteboard/detail.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<header></header>
<main class="cont-main">
    <input class="cote-id hidden" th:value="${cote.id}"/>
    <section class="content-header">
        <div class="button-container">
            <a class="back-button" href="/coteboard">목록으로</a>
        </div>
        <h1 class="title" th:text="${cote.title}"></h1>
        <div class="content-info">
            <a href="" class="board-writer-name" th:value="${cote.writer}" th:text="${cote.writer}"></a>
            <p class="content-createdAt" th:text="${#dates.format(cote.createdAt,'yyyy-MM-dd HH:mm')}"></p>
        </div>
    </section>
    <section class="content-main">
        <h2 class="a11y">퀴즈 게시판 본문 내용</h2>
        <div class="content-detail" th:text="${cote.contents}">
        </div>
    </section>
    <section class="comment-container">
        <div class="comment-header">
            <div class="comment-editor">
                <input type="hidden" id="postId" name="postId" th:value="${postId}"/>
                <textarea class="comment-main-input" placeholder="댓글을 달아보세요"
                          name="contents" onchange="commentWordCount(this);"
                          oninput="commentWordCount(this);"></textarea>
                <div class="comment-text-count">0/1500</div>
                <div class="comment-main-editor-bottom">
                    <button class="submit-button" type="button" onclick="clickCommentSubmitButton(this)">등록</button>
                </div>
            </div>
        </div>
        <div class="comment-main">
            <div class="comment-item-container" th:each="comment: ${comments}">
                <input type="hidden" class="comment-id" th:value="${comment.id}"/>
                <div class="comment-item-header">
                    <div class="comment-info">
                        <p class="comment-writer-name" th:text="${comment.writer}"></p>
                        <p class="comment-createdAt" th:text="${#dates.format(comment.createdAt,'yyyy-MM-dd HH:mm')}"></p>
                    </div>
                    <div class="comment-edit-container">
                        <button onclick="clickCommentEditButton(this)">수정</button>
                        <button onclick="clickCommentDeleteButton(this)">삭제</button>
                    </div>
                </div>
                <div class="comment-item-body">
                    <div style="word-break:break-all" class="comment-input" th:text="${comment.contents}"
                              onchange="reCommentWordCount(this)"
                              oninput="reCommentWordCount(this)"></div>
                </div>
                <div class="comment-item-bottom">
                    <div class="etc-button-container">
                        <button class="comment-button re-comment-editor-opener"
                                onclick="clickReCommentEditorOpener(this)">
                            <img th:src="@{/images/icon_recomment.png}" alt="답글달기 버튼">답글 달기
                        </button>
                    </div>
                </div>
                <div class="re-comment-editor hidden">
                    <form class="re-comment-form" th:action="@{/comment/save}" th:method="post">
                        <input type="hidden" name="parentCommentId" th:value="${comment.id}"/>
                        <textarea class="re-comment-input" placeholder="댓글을 작성해보세요"
                                  name="contents"
                                  onchange="reCommentWordCount(this)"
                                  oninput="reCommentWordCount(this)"></textarea>
                        <div class="re-comment-text-count">0/1500</div>
                        <div class="re-comment-editor-bottom">
                            <button class="re-comment-submit-button" type="button"
                                    onclick="clickReCommentSubmitButton(this)">등록
                            </button>
                            <button class="re-comment-cancel-button" type="button" onclick="clickReCommentCancel(this)">
                                취소
                            </button>
                        </div>
                    </form>
                </div>
                <div class="re-comment-items-container">
                    <div class="re-comment-item-container" th:each="reComment:${comment.reComments}">
                        <input type="hidden" class="comment-id" th:value="${reComment.id}"/>
                        <div class="re-comment-item-header">
                            <div class="re-comment-info">
                                <p class="re-comment-writer-name" th:text="${reComment.writer}"></p>
                                <p class="re-comment-createdAt"
                                   th:text="${#dates.format(reComment.createdAt,'yyyy-MM-dd HH:mm')}"></p>
                            </div>
                            <div class="re-comment-edit-container">
                                <button onclick="clickReCommentEditButton(this)">수정</button>
                                <button onclick="clickDeleteButton(this)">삭제</button>
                            </div>
                        </div>
                        <div class="re-comment-item-body">
                            <div style="word-break:break-all" class="recomment-input" th:text="${reComment.contents}"
                                      onchange="reCommentWordCount(this)"
                                      oninput="reCommentWordCount(this)"></div>
                        </div>
                        <div class="re-comment-edit-text-count hidden">0/1500</div>
                        <div class="re-comment-update-botton hidden">
                            <button class="re-comment-submit-button" type="button"
                                    onclick="clickReCommentSubmitButton(this)">등록
                            </button>
                            <button class="re-comment-cancel-button" type="button" onclick="clickUpdateReCommentCancel(this)">
                                취소
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--    <section class="comment-container">-->
<!--        <div th:replace="~{comment/comment.html::comment-header}"></div>-->
<!--        <div th:replace="~{comment/comment.html::comment-main}"></div>-->
<!--    </section>-->
</main>
<div class="modal_comment_create">
    <div class="writer-container">
        <input class="writer" placeholder="작성자 (영어 11글자 이내)" type="text" size="60px"/>
        <div class="writer-text-count">0/11</div>
    </div>
    <div class="boardPassword-container">
        <input class="commentPassword" placeholder="게시글 비밀번호 (영어와 숫자 11글자 이내)"
               type="password" size="60px"/>
        <div class="commentPassword-text-count">0/11</div>
    </div>
    <div class="comment-editor-bottom">
        <button class="comment-submit-button" type="button"
                onclick="clickCommentSubmitCompleteButton(this)">등록
        </button>
        <button class="comment-cancel-button" type="button"
                onclick="clickCommentSubmitCancelButton(this)">취소
        </button>
    </div>
</div>
<div class="modal_comment_edit">
    <div class="boardPassword-container">
        <input class="boardPassword" placeholder="게시글 비밀번호 (영어와 숫자 11글자 이내)"
               type="password" size="60px"/>
        <div class="boardPassword-text-count">0/11</div>
    </div>
    <div class="comment-editor-bottom">
        <button class="comment-submit-button" type="button"
                onclick="clickCommentEditLoginButton(this)">입력
        </button>
        <button class="comment-cancel-button" type="button" onclick="clickCommentEditCancelButton(this)">
            취소
        </button>
    </div>
</div>
<div class="modal_comment_delete">
    <div class="boardPassword-container">
        <input class="boardPassword" placeholder="게시글 비밀번호 (영어와 숫자 11글자 이내)"
               type="password" size="60px"/>
        <div class="boardPassword-text-count">0/11</div>
    </div>
    <div class="re-comment-editor-bottom">
        <button class="re-comment-submit-button" type="button"
                onclick="clickCommentDeleteLoginButton(this)">등록
        </button>
        <button class="re-comment-cancel-button" type="button" onclick="clickCommentDeleteCancelButton(this)">
            취소
        </button>
    </div>
</div>
<div class="modal_recomment_create">
    <div class="writer-container">
        <input class="writer" placeholder="작성자 (영어 11글자 이내)" type="text" size="60px"/>
        <div class="writer-text-count">0/11</div>
    </div>
    <div class="boardPassword-container">
        <input class="recommentPassword" placeholder="게시글 비밀번호 (영어와 숫자 11글자 이내)"
               type="password" size="60px"/>
        <div class="recommentPassword-text-count">0/11</div>
    </div>
    <div class="recomment-editor-bottom">
        <button class="recomment-submit-button" type="button"
                onclick="clickReCommentSubmitCompleteButton(this)">등록
        </button>
        <button class="recomment-cancel-button" type="button"
                onclick="clickReCommentSubmitCancelButton(this)">취소
        </button>
    </div>
</div>
<div class="modal_recomment_edit">
    <div class="boardPassword-container">
        <input class="boardPassword" placeholder="게시글 비밀번호 (영어와 숫자 11글자 이내)"
               type="password" size="60px"/>
        <div class="boardPassword-text-count">0/11</div>
    </div>
    <div class="re-comment-editor-bottom">
        <button class="re-comment-submit-button" type="button"
                onclick="clickReCommentSubmitEditLoginButton(this)">등록
        </button>
        <button class="re-comment-cancel-button" type="button" onclick="clickReCommentSubmitEditCancelButton(this)">
            취소
        </button>
    </div>
</div>
<div class="modal_recomment_delete">
    <div class="boardPassword-container">
        <input class="boardPassword" placeholder="게시글 비밀번호 (영어와 숫자 11글자 이내)"
               type="password" size="60px"/>
        <div class="boardPassword-text-count">0/11</div>
    </div>
    <div class="re-comment-editor-bottom">
        <button class="re-comment-submit-button" type="button"
                onclick="clickReCommentSubmitButton(this)">등록
        </button>
        <button class="re-comment-cancel-button" type="button" onclick="clickReCommentCancel(this)">
            취소
        </button>
    </div>
</div>
<script src="https://uicdn.toast.com/editor/3.0.2/toastui-editor-all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    let coteContent = [[${cote.contents}]];
</script>
<script th:src="@{/Js/common/wordCount.js}"></script>
<script th:src="@{/Js/common/commentWordCount.js}"></script>
<script th:src="@{/Js/coteboard/detail.js}"></script>
</body>
</html>