a{
    text-decoration: none;
    color: inherit;
}

html {
    background: #add7f3;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

/*header*/
.nav-bar{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 20vw;
    padding-top:50px;
    gap:20px;
}

.login,.join,.logout_btn{
    padding: 5px;
    font-size: 1rem;
    line-height: 1.5;
    color:#363636;
    cursor: pointer;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}

.login:hover,.join:hover,.logout_btn{
    background-color: #f6f5f5;
}

/*비회원과 회원일때 display를 바꾸면된다*/
.login, .join{
    /*display: none;*/
}

.logout_btn,.user_info{
    display: none;
}

/*main*/
h1{
    margin-top:10vh;
    margin-bottom:10vh;
    font-family: 'Poor Story', system-ui;
}

h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .4s ease infinite alternate;
    font-size: 50px;
    color: #FFF;
    text-shadow: 0 1px 0 #CCC,
    0 2px 0 #CCC,
    0 3px 0 #CCC,
    0 4px 0 #CCC,
    0 5px 0 #CCC,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(0, 0, 0, .4);
}

h1 span:nth-child(2) { animation-delay: .1s; }
h1 span:nth-child(3) { animation-delay: .2s; }
h1 span:nth-child(4) { animation-delay: .3s; }
h1 span:nth-child(5) { animation-delay: .4s; }


@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #CCC,
        0 2px 0 #CCC,
        0 3px 0 #CCC,
        0 4px 0 #CCC,
        0 5px 0 #CCC,
        0 6px 0 #CCC,
        0 7px 0 #CCC,
        0 8px 0 #CCC,
        0 9px 0 #CCC,
        0 50px 25px rgba(0, 0, 0, .2);
    }
}

/*main*/
main{
    text-align: center;
    margin-top:10vh;
}

main a{
    display:block;
    margin:80px;
    vertical-align: bottom;
    font-size: 30px;
    font-family: 'Poor Story', system-ui;
    transition: color 0.3s ease;
}

a:visited, a:hover, a:active {
    color: inherit;
}

main a:hover{
    color:white;
}

main a img{
    vertical-align: middle;
}