*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    line-height: 20px;
}
a{
    display: inline-block;
    text-decoration:none;
    color: inherit;
}
ul, ol{
    list-style: none;
}
button{
    cursor:pointer;
    padding: 7px 10px;
    background-color: white;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    font-size: 16px;
}

button:hover{
    filter: brightness(90%); // 10% 어둡게
}

img{
    width: 100%;
    vertical-align: top;
}
p{
    font-size: 16px;
    line-height: 200%;
}
textarea{
    width: 100%;
    height: auto;
    line-height: 1.4;
    resize: none;
    outline: none;
    padding: 10px 10px;
    overflow-y: hidden;
}
/*css common*/

/*form title 부분*/
.cont-main{
    max-width: 900px;
    margin:0 auto;
    padding: 40px 40px 0 40px;
}
.title-container{
    margin-bottom: 30px;
    border-bottom: 1px solid #C4C4C4;
}
.title{
    border: none;
    font-size: 27px;
    font-weight: 900;
    padding: 15px 7px;
    font-family: 'Wemakeprice-Bold';
}
.title::placeholder{
    color: #C4C4C4;
}

/*tag 선택 부분*/
.tag-select-container{
    margin-bottom:30px;
    padding: 10px 20px;
    border-left: 4px solid #04B45F;
}
.tag-select-container>h1{
    font-size: 20px;
}
.subject-tags-container{
    display: flex;
}
.selected-tags-container{
    padding: 20px 0;
}
.selected-tags{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.selected-tags-container>p{
    font-size: 16px;
}

.subject-tag-button{
    background-color: #F2F2F2;
    padding: 12px 20px;
    border-radius: 5px 5px 0 0;
    margin-bottom: -1px;
    position: relative;
    z-index: 1;
}
.selected-subject{
    margin-bottom: -2px; /* 음수 여백을 설정하여 detail-tags와 겹치도록 함 */
    background-color: white;
    border-bottom: 3px solid white;
}

.detail-tags{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    padding: 20px 20px;
    border: 1px solid #C4C4C4;
    border-radius: 0 5px 5px 5px;
    background-color: white;
    position: relative;
    z-index: 0; /* .detail-tags를 하위로 내려 겹치는 부분이 발생하지 않도록 함 */
}

.selected-tag{
    border:none;
    padding: 5px 15px;
    font-size: 12px;
    background-color: #F2F2F2;
}

/*초기화*/
.reset-button{
    margin-top: 30px;
}
.reset-button>img{
    width: 15px;
    height: 15px;
}

/*quiz 문제 작성 부분*/
.quiz-input{
    border: 1px solid #C4C4C4;
    min-height: 450px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Wemakeprice';
}
.quiz-input::placeholder, .answer-input::placeholder{
    color: #C4C4C4;
}
.answer-input{
    border: 1px solid #C4C4C4;
    min-height: 300px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Wemakeprice';
}
.answer-container>h1, .quiz-container>h1{
    font-size: 24px;
    line-height: 200%;
}

/*footer*/
.button-container{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 50px 0;
}
.submit-button, .cancel-button{
    font-size: 20px;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
}
.submit-button{
    color: white;
    background-color: #04B45F;
    border: none;
}


.hidden{
    display: none;
}
.selected{
    background-color: #F2F2F2;
}