*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    line-height:20px;
}
a{
    display: inline-block;
    text-decoration:none;
    color: inherit;
}
ul, ol{
    list-style: none;
}
button{
    cursor:pointer;
    padding: 7px 10px;
    background-color: white;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}
img{
    width: 100%;
    vertical-align: top;
}
p{
    font-size: 16px;
    line-height: 200%;
}


.hidden{
    display: none;
}

.liked{
    content: url("../images/icon_like_act.png");
}


.btn:hover {
    filter: brightness(90%); // 10% 어둡게
}

.hide-text{
    visibility: hidden;
}
.hide-place{
    background-color: #F2F2F2;
}


.a11y{
    display: inline-block;
    position:absolute;
    overflow:hidden;
    width:1px;
    height:1px;
    border:none;
    clip-path:inset(50%);
}
.board-writer-name, .comment-writer-name{
    font-size: 16px;
    font-weight: 700;
}

.content-createdAt, .comment-createdAt{
    font-size: 12px;
    color: #C4C4C4;
}


/*main 게시글 정보 파트*/
.cont-main{
    max-width: 900px;
    margin:0 auto;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    padding: 40px 40px;
}

.content-header{
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #C4C4C4;
}
.back-button{
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: #04B45F;
    font-size: 18px;
    font-weight: 700;
}
.content-header h1{
    margin: 50px 0 25px 0;
    font-size:25px;
    font-weight: 700;
}

/*main 게시글 파트*/
.content-main{
    padding:20px 10px;
    border-bottom: 1px solid #C4C4C4;
}
.content-detail{
    min-height: 250px;
}
.content-main h3{
    font-size: 20px;
    margin: 50px 0 20px 0;
}
.content-answer-container{
    padding: 8px 8px;
    border-radius: 7px;
    min-height: 150px;
}

.likes-number{
    font-size: 13px;
}
.content-tags-container{
    display: flex;
    gap:10px;
}
.content-detail-tag{
    padding: 7px 15px;
    background-color: #F2F2F2;
    border-radius: 5px;
}
.content-likes{
    display: block;
    margin: 100px auto;
    border: none;
}
.content-likes>img{
    width: 55px;
    height: 55px;
}
/*input 창*/
.comment-editor{
    margin-top: 30px;
}
.display-check{
    margin-bottom: 20px;
    font-size: 16px;
}
.answer-input{
    width: 100%;
    height: 250px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    resize: none;
}
.comment-editor-bottom{
    display: flex;
    justify-content: flex-end;
    gap:10px
}
.cancel-button,.submit-button{
    padding: 10px 20px;
    font-size: 16px;
}
.submit-button{
    background-color: #04B45F;
    color: white;
    border: none;
}

/*main 댓글 입력창 파트*/
.comment-header{
    margin-top: 40px;
}
.comment-header h2{
    font-size: 23px;
}
.comment-info{
    display: flex;
    justify-content: space-between;
}
.comment-number{
    color: #04B45F;
}
.comment-sort-selector{
    display: flex;
    gap:10px;
}
.recommend, .recent{
    font-size: 14px;
    font-weight: 700;
    color: #C4C4C4;
    cursor: pointer;
}

.comment-editor-opener{
    margin:25px 0;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    cursor: pointer;
    color:#C4C4C4;
}

/*main 댓글 파트*/
.comment-item-container{
    padding: 20px 0;
    border-bottom: 1px solid #C4C4C4;
}
.comment-item-header{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.comment-item-body, .hidden-comment-item-body{
    border-radius: 7px;
    margin-bottom: 15px;
}
.comment-item-bottom{
    display: flex;
    justify-content: space-between;
}
.etc-button-container{
    display: flex;
    gap:10px;
}
.comment-button{
    display: flex;
    align-items: center;
    font-size: 13px;
}
.comment-button> img{
    width: 15px;
    height: 15px;
    margin-right: 8px;
}
.comment-likes{
    margin-right: 10px;
}

.sorted{
    color: black;
}
/*답글 파트*/
.re-comment-items-container{
    margin: 30px 10px 0 10px;
    padding-left: 10px;
    border-left: 4px solid #C4C4C4;
}
.re-comment-item-container{
    margin-bottom: 30px;
}
.re-comment-item-container:last-child{
    margin-bottom: 0;
}