<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doumi</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/3.0.2/toastui-editor.min.css">
    <link href="../../static/css/quizBoard.css" th:href="@{/css/quizBoard.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<header></header>
<main class="cont-main">
    <input class="quiz-id hidden" th:value="${quiz.id}"/>
    <section class="content-header">
        <a class="back-button" href="/quiz">< 목록으로 </a>
        <h1 class="title" th:text="${quiz.title}"></h1>
        <div class="content-info">
            <a href="" class="board-writer-name" th:value="${quiz.userId}" th:text="${quiz.author}"></a>
            <p class="content-createdAt" th:text="${#dates.format(quiz.createdAt,'yyyy-MM-dd HH:mm')}"></p>
        </div>
    </section>
    <section class="content-main">
        <h2 class="a11y">퀴즈 게시판 본문 내용</h2>
        <div class="content-detail">
        </div>
        <h3>정답</h3>
        <div class="content-answer-container hide-place">
            <div class="content-answer hide-text">
            </div>
        </div>
        <button class="likes-button content-likes" onclick="clickLike(this)">
            <img th:src="@{/images/icon_like_normal.png}" alt="좋아요 버튼">
            <p class="likes-number" th:text="${quiz.like}"></p>
        </button>
        <ul class="content-tags-container">
            <li class="content-detail-tag" th:each="tag:${quiz.tags}">
                <a href="" th:value="${tag.id}" th:text="${tag.name}"></a>
            </li>
        </ul>
    </section>
    <section class="comment-container">
        <div th:replace="~{comment/comment.html::comment-header}"></div>
        <div th:replace="~{comment/comment.html::comment-main}"></div>
    </section>
</main>
<script src="https://uicdn.toast.com/editor/3.0.2/toastui-editor-all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:src="@{/Js/quiz/board.js}"></script>
<script th:inline="javascript">
    let quizContent = [[${quiz.contents}]];
    let answerContent = [[${quiz.answer}]];
</script>
<script th:inline="javascript" th:src="@{/Js/quiz/viewer.js}"></script>
<script th:src="@{/Js/comment/ajaxCreateUpdateRequest.js}"></script>
<script th:src="@{/Js/wordCount.js}"></script>
<script th:src="@{/Js/comment/commentWordCountControl.js}"></script>
</body>
</html>