<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>퀴즈 작성</title>
    <link href="../../static/css/quizForm.css" th:href="@{/css/quizForm.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
</head>
<body>
<header></header>
<main class="cont-main">
    <form action="" class="quiz" onsubmit="return false;">
        <div class="title-container">
            <textarea class="title" placeholder="퀴즈 제목을 작성해주세요." rows="1" onkeyup="autoResize(this)"
                      onkeydown="autoResize(this)"></textarea>
        </div>
        <div class="tag-select-container">
            <h1>과목을 선택해주세요! 중복 선택 가능합니다.</h1>
            <div class="selected-tags-container">
                <p>선택된 태그들:</p>
                <div class="selected-tags"></div>
                <button class="reset-button">
                    <img th:src="@{/images/icon_reset.png}" alt="초기화 버튼">
                    초기화
                </button>
            </div>
            <div class="subject-tags-container">
                <button class="subject-tag-button selected-subject">JAVA</button>
                <button class="subject-tag-button">SPRING</button>
                <button class="subject-tag-button">DB</button>
                <button class="subject-tag-button">AWS</button>
                <button class="subject-tag-button">FrontEnd</button>
            </div>
            <div class="detail-tags-container">
                <th:block th:each="tag:${tags}">
                    <!--Java일땐 hidden tag없애기-->
                    <div th:class="detail-tags"
                         th:classappend="${tag.type == 'Java' ? '' : 'hidden '}+${tag.type.toLowerCase()}">
                        <!--태그 생성-->
                        <th:block th:each="detailTag : ${tag.detailTags}">
                            <button class="detail-tag-button" th:value="${detailTag.getIds()}" th:text="${detailTag.getName()}"></button>
                        </th:block>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="input-container">
            <div class="quiz-container">
                <h1>Quiz</h1>
                <div class="quiz-content"></div>
            </div>
            <div class="answer-container">
                <h1>Answer</h1>
                <div class="answer-content"></div>
            </div>
        </div>
        <div class="button-container">
            <button class="cancel-button">취소</button>
            <button class="submit-button">등록</button>
        </div>
    </form>
</main>
<footer></footer>
<script th:src="@{/Js/quizForm.js}"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script th:src="@{/Js/toastApi.js}"></script>
</body>
</html>