<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doumi</title>
</head>
<body>
    <div th:each="post : ${posts}">
        <p>[[${post.id}]]</p>
        <p>[[${post.userId}]]</p>
        <p>[[${post.title}]]</p>
        <p>[[${post.contents}]]</p>
    </div>
    <div>
        <ul>
            <li>
                <a th:href="@{/quiz/?page=1}">처음</a>
            </li>
            <li th:each="pageNum : ${#numbers.sequence(currentPage, currentPage + 4)}" th:if="${pageNum le totalPages}">
                <a th:href="@{/quiz/?page={page} (page = ${pageNum})}" th:text="${pageNum}"></a>
            </li>
            <li>
                <a th:href="@{/quiz/?page={page} (page = ${totalPages})}">마지막</a>
            </li>
        </ul>
    </div>
</body>
</html>