<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doumi</title>
    <link href="/static/css/doumi.css" th:href = "@{/css/doumi.css}" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav-bar">
            <a href="/user/login" class="login">로그인</a>
            <a href="/user/signup" class="join">회원가입</a>
            <a href="#none" class="user_info"><strong th:text="${userName}"  >유저1</strong>님 안녕하세요!</a>
            <div><button type="button" class="logout_btn">로그아웃</button></div>
        </div>
    </header>
    <main>
        <h1>
            <span>안</span>
            <span>녕</span>
            <span>하</span>
            <span>세</span>
            <span>요</span>
        </h1>
        <p><strong>ESTsoft</strong> 백엔드 개발자 <strong>오르미 4기</strong>에서 프로젝트를 진행하고 있는 <strong>도우미</strong> 입니다. </p>
        <p>코테 알고리즘 페이지 설명이 들어가야 합니다. </p>
        <p>누군가 특정 개념에 대한 질문을 했을 때 내가 잘 설명할 수 있어야 그 개념에 대해 잘 알고 있다고 생각합니다.<br>
            자신이 생각해낸 질문이 생기면 ‘질문’과 ‘답’을 등록해서 다른 사람들이 ‘퀴즈 형식’으로 풀 수 있게 해주는 커뮤니티입니다.<br>
            퀴즈를 낸 사람도 공부할 수 있고 맞추는 사람도 공부할 수 있다고 생각합니다.
        </p>
        <a href="#">알고리즘 페이지로 이동  <img src="/images/arrow.png"></a>
        <a href="/quiz">퀴즈 페이지로 이동  <img src="/images/arrow.png"></a>
    </main>
    <footer>

    </footer>
</body>
</html>