<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doumi</title>
    <link href="../static/css/quizBoard.css" th:href = "@{/css/quizBoard.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<header></header>
<main class="cont-main">
    <section class="content-header">
        <button class="back-button">< 목록으로</button>
        <h1 class="title">트랜잭션 개념 퀴즈~</h1>
        <div class="content-info">
            <a href="" class="board-writer-name">홍길동</a>
            <p class="content-createdAt">24.02.08 19:16 작성</p>
        </div>
    </section>
    <section class="content-main">
        <h2 class="a11y">퀴즈 게시판 본문 내용</h2>
        <div class="content-detail">
            <p>[퀴즈 내용]</p>
            <p>트랜잭션에 대해 설명해보세요.</p>
        </div>
        <h3>정답</h3>
        <div class="content-answer-container hide-place">
            <div class="content-answer hide-text">
                <p>여러 개의 개별 작업을 하나의 작업 단위로 묶은 것</p>
            </div>
        </div>
        <button class="btn likes-button content-likes">
            <img src="../static/images/icon_like_normal.png" alt="좋아요 버튼">
            <p class="likes-number">2</p>
        </button>
        <ul class="content-tags-container">
            <li class="content-detail-tag"><a href="">Java</a></li>
            <li class="content-detail-tag"><a href="">Spring</a></li>
            <li class="content-detail-tag"><a href="">spring-boot</a></li>
        </ul>
    </section>
    <section class="comment-header">
        <h2 class="a11y"> 답변 입력창 </h2>
        <div class="comment-info">
            <h2>답변 <strong class="comment-number">2</strong></h2>
            <div class="comment-sort-selector">
                <span class="recommend sorted">좋아요순</span>
                <span class="recent">최신순</span>
            </div>
        </div>
        <div class="comment-editor-opener">
            <p class="comment-editor-text">홍길동님, 답변을 작성해보세요.</p>
        </div>
        <div class="comment-editor hidden">
            <form action="" onsubmit="return false;">
                <input type="checkbox" class="display-check"> 비공개
                <textarea class="answer-input" placeholder="정답을 작성해보세요" rows="30"></textarea>
                <div class="comment-editor-bottom">
                    <button class="btn cancel-button">취소</button>
                    <button class="btn submit-button">등록</button>
                </div>
            </form>
        </div>
    </section>
    <section class="comment-main">
        <h2 class="a11y"> 댓글 목록 </h2>
        <div class="comment-item-container">
            <div class="comment-item-header">
                <a href="" class="comment-writer-name">이영한</a>
                <p class="comment-createdAt">24.02.02 11:55</p>
            </div>
            <div class="hidden-comment-item-body hide-place">
                <div class="comment-item hide-text">
                    <p>여러개의 작업을 하나의 작업 단위로 묶고 그 단위 안에 있는 작업들은 각각 수행되고 실패하는 것이 아니라 수행되면 완전히 수행되고 실패하면 완전히
                        실패하게 하는것</p>
                </div>
            </div>
            <div class="comment-item-bottom">
                <div class="etc-button-container">
                    <button class="btn comment-button re-comment-display-control">
                        <img src="../static/images/icon_up_arrow.png" alt="숨기기 버튼"> 숨기기
                    </button>
                    <button class="btn comment-button re-comment-editor-opener">
                        <img src="../static/images/icon_recomment.png" alt="답글달기 버튼">답글 달기
                    </button>
                </div>
                <button class="btn likes-button comment-button comment-likes">
                    <img src="../static/images/icon_like_normal.png" alt="좋아요 버튼">
                    <p class="likes-number">2</p>
                </button>
            </div>
            <div class="re-comment-items-container">
                <div class="re-comment-item-container">
                    <div class="comment-item-header">
                        <a href="" class="comment-writer-name">홍길동</a>
                        <p class="comment-createdAt">24.02.03 11:55</p>
                    </div>
                    <div class="comment-item-body">
                        <p>길게 적어주셔서 감사합니다!</p>
                    </div>
                    <div class="comment-item-bottom">
                        <button class="btn likes-button comment-button comment-likes">
                            <img src="../static/images/icon_like_normal.png" alt="좋아요 버튼">
                            <p class="likes-number">1</p>
                        </button>
                    </div>
                </div>
                <div class="re-comment-item-container">
                    <div class="comment-item-header">
                        <a href="" class="comment-writer-name">이영한</a>
                        <p class="comment-createdAt">24.02.04 10:15</p>
                    </div>
                    <div class="comment-item-body">
                        <p>뭘요 ㅎㅎ</p>
                    </div>
                    <div class="comment-item-bottom">
                        <button class="btn likes-button comment-button comment-likes">
                            <img src="../static/images/icon_like_normal.png" alt="좋아요 버튼">
                            <p class="likes-number">1</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-item-container">
            <div class="comment-item-header">
                <a href="" class="comment-writer-name">SunJu Nam</a>
                <p class="comment-createdAt">24.02.02 11:55</p>
            </div>
            <div class="comment-item-body">
                <div class="comment-item">
                    <p>하나의 작업을 처리하기 위해 나누는 논리적인 구역</p>
                    <p>해당 트랜잭션의 레벨을 설정해서 접근 및 처리를 다르게 가져갈 수 있다.</p>
                </div>
            </div>
            <div class="comment-item-bottom">
                <div class="etc-button-container">
                    <button class="btn comment-button re-comment-display-control">
                        <img src="../static/images/icon_up_arrow.png" alt="숨기기 버튼"> 숨기기
                    </button>
                    <button class="btn comment-button re-comment-editor-opener">
                        <img src="../static/images/icon_recomment.png" alt="답글달기 버튼">답글 달기
                    </button>
                </div>
                <button class="btn likes-button comment-button comment-likes">
                    <img src="../static/images/icon_like_normal.png" alt="좋아요 버튼">
                    <p class="likes-number">1</p>
                </button>
            </div>
            <div class="re-comment-items-container"></div>
        </div>
    </section>
</main>

<script src="../static/Js/quizBoard.js"></script>
</body>
</html>