<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div th:fragment="comment-cont" class="comment-cont">
    <div class="comment-header">
        <h2 class="a11y"> 답변 입력창 </h2>
        <div class="comment-info">
            <h2>답변 <strong class="comment-number" th:text="${comments.size()}"></strong></h2>
            <div class="comment-sort-selector">
                <span class="recommend">좋아요순</span>
                <span class="recent sorted">최신순</span>
            </div>
        </div>
        <div class="comment-editor-opener" onclick="clickCommentEditorOpener(this)">
            <!-- 로그인 한 유저로 수정 필요-->
            <p class="comment-editor-text" th:value="${quiz.userId}" th:text="${quiz.author}+ '님 답변을 작성해보세요.'"></p>
        </div>


        <div class="comment-editor hidden">
            <form class="comment-form" th:action="@{/comment/add}" th:method="post" th:object="${newComment}">
                <input type="hidden" name="postId" th:value="${quiz.id}"/>

                <input type="checkbox" class="display-check" th:field="${newComment.display}"> 비공개

                <textarea class="answer-input" placeholder="정답을 작성해보세요" rows="30"
                          th:field="${newComment.contents}"></textarea>

                <div class="comment-editor-bottom">
                    <button class="cancel-button" type="button" onclick="clickCommentCancel()">취소</button>
                    <button class="submit-button" type="button" onclick="clickCommentSubmitButton(this)">등록</button>
                </div>
            </form>
        </div>
    </div>


    <div class="comment-main">
        <h2 class="a11y"> 댓글 목록 </h2>
        <div class="comment-item-container" th:each="comment: ${comments}" th:value="${comment.id}">
            <div class="comment-item-header">
                <div class="comment-info">
                    <a href="" class="comment-writer-name" th:value="${comment.userId}" th:text="${comment.author}"></a>
                    <p class="comment-createdAt" th:text="${#dates.format(comment.createdAt,'yyyy-MM-dd HH:mm')}"></p>
                </div>
                <div class="comment-edit-container">
                    <button>수정</button>
                    <button>삭제</button>
                </div>
            </div>
            <div th:if="${comment.display==0}" class="comment-item-body">
                <div class="comment-item" th:text="${comment.contents}"></div>
            </div>
            <div th:unless="${comment.display==0}" class="hidden-comment-item-body hide-place"
                 onclick="clickComment(this)">
                <div class="comment-item hide-text" th:text="${comment.contents}"></div>
            </div>
            <div class="comment-item-bottom">
                <div class="etc-button-container">
                    <button class="comment-button re-comment-display-control" onclick="clickHideReComment(this)">
                        <img th:src="@{/images/icon_up_arrow.png}" alt="숨기기 버튼"> 숨기기
                    </button>
                    <button class="comment-button re-comment-editor-opener"
                            onclick="clickReCommentEditorOpener(this)">
                        <img th:src="@{/images/icon_recomment.png}" alt="답글달기 버튼">답글 달기
                    </button>
                </div>
                <button class="likes-button comment-button comment-likes" onclick="clickLike(this)">
                    <img th:src="@{/images/icon_like_normal.png}" alt="좋아요 버튼">
                    <p class="likes-number" th:text="${comment.like}"></p>
                </button>
            </div>


            <div class="re-comment-editor hidden">
                <form class="re-comment-form" th:action="@{/comment/add}" th:method="post" th:object="${newComment}">
                    <input type="hidden" name="postId" th:value="${quiz.id}"/>

                    <input type="hidden" name="display" th:value="false"/>
                    <input type="hidden" name="parentCommentId" th:value="${comment.id}"/>

                    <textarea class="answer-input" placeholder="댓글을 작성해보세요" rows="30"
                              th:field="${newComment.contents}"></textarea>


                    <div class="comment-editor-bottom">
                        <button class="re-comment-cancel-button" type="button" onclick="clickReCommentCancel(this)">
                            취소
                        </button>
                        <button class="re-comment-submit-button" type="button"
                                onclick="clickReCommentSubmitButton(this)">등록
                        </button>
                    </div>
                </form>
            </div>


            <div class="re-comment-items-container">
                <div class="re-comment-item-container" th:each="reComment:${comment.reComments}">
                    <div class="comment-item-header">
                        <div class="comment-info">
                            <a href="" class="comment-writer-name" th:value="${reComment.userId}"
                               th:text="${reComment.author}"></a>
                            <p class="comment-createdAt"
                               th:text="${#dates.format(reComment.createdAt,'yyyy-MM-dd HH:mm')}"></p>
                        </div>
                    </div>
                    <div class="comment-item-body" th:text="${reComment.contents}">
                    </div>
                    <div class="comment-item-bottom">
                        <button class="likes-button comment-button comment-likes" onclick="clickLike(this)">
                            <img th:src="@{/images/icon_like_normal.png}" alt="좋아요 버튼">
                            <p class="likes-number" th:text="${reComment.like}"></p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>