<section class="comment-container">
    <div class="comment-header">
        <div class="comment-editor">
            <input type="hidden" id="postId" name="postId" th:value="${postId}"/>
            <textarea class="comment-main-input" placeholder="댓글을 달아보세요"
                      name="contents" onchange="commentWordCount(this);"
                      oninput="commentWordCount(this);"></textarea>
            <div class="comment-text-count">0/1500</div>
            <div class="comment-main-editor-bottom">
                <button class="submit-button" type="button" onclick="clickCommentSubmitButton(this)">등록</button>
            </div>
        </div>
    </div>
    <div class="comment-main">
        <div class="comment-item-container" th:each="comment: ${comments}">
            <input type="hidden" class="comment-id" th:value="${comment.id}"/>
            <div class="comment-item-header">
                <div class="comment-info">
                    <p class="comment-writer-name" th:text="${comment.writer}"></p>
                    <p class="comment-createdAt" th:text="${#dates.format(comment.createdAt,'yyyy-MM-dd HH:mm')}"></p>
                </div>
                <div class="comment-edit-container">
                    <button onclick="clickCommentEditButton(this)">수정</button>
                    <button onclick="clickCommentDeleteButton(this)">삭제</button>
                </div>
            </div>
            <div class="comment-item-body">
                <div style="word-break:break-all" class="comment-input" th:text="${comment.contents}"
                     onchange="reCommentWordCount(this)"
                     oninput="reCommentWordCount(this)"></div>
            </div>
            <div class="comment-item-bottom">
                <div class="etc-button-container">
                    <button class="comment-button re-comment-editor-opener"
                            onclick="clickReCommentEditorOpener(this)">
                        <img th:src="@{/images/icon_recomment.png}" alt="답글달기 버튼">답글 달기
                    </button>
                </div>
            </div>
            <div class="re-comment-editor hidden">
                <form class="re-comment-form" th:action="@{/comment/save}" th:method="post">
                    <input type="hidden" name="parentCommentId" th:value="${comment.id}"/>
                    <textarea class="re-comment-input" placeholder="댓글을 작성해보세요"
                              name="contents"
                              onchange="reCommentWordCount(this)"
                              oninput="reCommentWordCount(this)"></textarea>
                    <div class="re-comment-text-count">0/1500</div>
                    <div class="re-comment-editor-bottom">
                        <button class="re-comment-submit-button" type="button"
                                onclick="clickReCommentSubmitButton(this)">등록
                        </button>
                        <button class="re-comment-cancel-button" type="button" onclick="clickReCommentCancel(this)">
                            취소
                        </button>
                    </div>
                </form>
            </div>
            <div class="re-comment-items-container">
                <div class="re-comment-item-container" th:each="reComment:${comment.reComments}">
                    <input type="hidden" class="comment-id" th:value="${reComment.id}"/>
                    <div class="re-comment-item-header">
                        <div class="re-comment-info">
                            <p class="re-comment-writer-name" th:text="${reComment.writer}"></p>
                            <p class="re-comment-createdAt"
                               th:text="${#dates.format(reComment.createdAt,'yyyy-MM-dd HH:mm')}"></p>
                        </div>
                        <div class="re-comment-edit-container">
                            <button onclick="clickReCommentEditButton(this)">수정</button>
                            <button onclick="clickDeleteButton(this)">삭제</button>
                        </div>
                    </div>
                    <div class="re-comment-item-body">
                        <div style="word-break:break-all" class="recomment-input" th:text="${reComment.contents}"
                             onchange="reCommentWordCount(this)"
                             oninput="reCommentWordCount(this)"></div>
                    </div>
                    <div class="re-comment-edit-text-count hidden">0/1500</div>
                    <div class="re-comment-update-botton hidden">
                        <button class="re-comment-submit-button" type="button"
                                onclick="clickReCommentSubmitButton(this)">등록
                        </button>
                        <button class="re-comment-cancel-button" type="button" onclick="clickUpdateReCommentCancel(this)">
                            취소
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>